parameters:

application:

services:
    - App\CoreModule\Model\ArticleManager

    # Forms
    - App\CoreModule\Forms\FormFactory
    - App\CoreModule\Forms\ArticleFormFactory
    - App\CoreModule\Forms\ContactFormFactory

