{block content}
    <h1 n:block=title>{$article->title}</h1>
    <p>
        <a n:href="default">Seznam článků</a> |
        <a n:href="edit $article->id">Upravit článek</a>
    </p>

    <p>{$article->perex}</p>

    <p>{$article->content|noescape}</p>

